FORMAT: 1A
HOST: https://lk.vectoranalytics.ru/

# vectoranalytics

Описание API Вектора

## Template [/template.php]

### Draft API [GET]

+ Request (application/json)

        {
            "action": "get"
        }
        
+ Response 200 (text/javascript)

        {
            "error": null
        }


## init.php [/init.php]

### Main script Vector [GET]
Запрос который приходит из браузера клиента

+ Request (application/json)

        {
            "ph": 74996498233,
            "src": 1,
            "ac": 1,
            "cid": 3367511,
            "sid": 5702182,
            "aid": 193415,
            "gclid": "3af69c5d4410be858554945a5ae941fe",
            "google_cid": "878822566.1444994565",
            "yandex_cid": "14630587861015199503",
            "chaser_cid": 0,
            "referrer": "",
            "landing_page": "http://muravino.ru/",
            "r": "1484918118575",
            "callback": "CallbackRegistry.f026698512794595564"
        }
        
+ Response 200 (text/javascript)

            {
                "cid": 3367511,
                "domain": "muravino.ru",
                "js_replace": 1,
                "leads": [],
                "ph": 74996498233,
                "promo": {},
                "rr": 1,
                "sid": 6112935,
                "tpl": [],
                "widget": {
                    "is_display_on_site": true,
                    "message": "",
                    "color": {"r": 255, "g": 255, "b": 255, "a": 1},
                    "ui":{
                        "button": {
                          "position_bottom": 80,
                          "position_right": 100,
                          "text": "Оставьте заявку"
                        },
                        "form": {
                            "description": "Оставьте свой номер и мы вам перезвоним",
                            "control_text": "Позвоните мне",
                            "is_display_shadow": false,
                            "brand_icon": "url/text",
                            "is_display_brand_icon": false,
                            "is_display_countdown": false,
                            "countdown": 60
                        }, 
                        "background": {
                            "color": {"r": 255, "g": 255, "b": 255, "a": 0.5},
                            "is_display": true
                        }
                    },
                    "settings": {
                      "is_use_closing": true,
                      "is_use_once": true,
                      "is_use_timeout": true,
                      "timeout": 60,
                      "weekdays":{
                          "is_weekday": false,
                          "weekday_next": "Понедельник с 9:00 до 18:00"
                      }
                    }
                }
            }
            
## Group phones [/api/channels/action.php]

### Get list group phones [GET /api/channels/action.php?action=get]

+ Request (application/json)

        {
            "action": "get",
            "site_id": "{site_id}"
        }
        
+ Response 200 (text/javascript)

        {
            "error": null,
            "exceptions": {
                "phones_count": 2,
                "ips_count": 0
            },
            "channels": [{
                "id": 733,
                "name": "hq.com.ru - рекламная",
                "state": 1,
                "layout_id": 1301,
                "is_on_site": 1, 
                "is_static": 0,
                "is_online": 1,
                "ads": 1,
                "ch_max_lifetime": 0,
                "type_max_lifetime": 1321,
                "site_max_lifetime": 1800,
                "phones": [{
                    "id": 2845,
                    "phone": "+7(499) 648-66-76",
                    "phone_int": 74996486676,
                    "operator": "MTT",
                    "phoneId":539
                }],
                "utms": [{
                    "id": 757,
                    "group_id": 0,
                    "type": "соответствует регулярному выражению",
                    "type_id": 5,
                    "utm": "Посадочная страница(Landing page)",
                    "field_type": "input",
                    "utm_group_id": 1,
                    "value": "utm_source",
                    "utm_id": 10,
                    "value_id": null
                }],
                "forwarding": {
                    "phone": "+7(499) 648-66-90",
                    "phone_int": 74996486690,
                    "id": 2844,
                    "mtt_id": 551,
                    "type": "MTT"
                },
                "redirect_script_id": 223,
                "utm_template": {
                    "id": 786,
                    "name": "Редактор правил"
                },
                "count_phones_add": 5
            }]
        }
        
## Redirect [/api/site/action.php]

### Get list redirect script [GET /api/site/action.php?action=get_redirect_scripts]

Получаем список Сценариев перадресации

+ Request (application/json)

        {
            "action": "get_redirect_scripts",
            "get_channels": true,
            "get_rules": true,
            "site_id": 156
        }
        
+ Response 200 (text/javascript)

        {
            "error": null,
            "redirect_scripts": [
                {
                "id": 123,
                "name": "Базовый сценарий",
                "state": 1,
                "channels":[],
                "rules":[],
                "is_use_for_widget": true
                }
            ]
        }

## Callback [/api/site/widget/callback/action.php]

### Get UI settings [GET /api/site/widget/callback/action.php?action=get_ui]

Получаем настройки оформления виджета

+ Request (application/json)

        {
            "action": "get_ui",
            "site_id": 15
        }
+ Response 200 (application/json)

        {   
            "error": null,
            "widget": {
                "id": 999,
                "color": {"r": 255, "g": 255, "b": 255, "a": 1},
                "button": {
                    "position_bottom": 80,
                    "position_right": 100,
                    "text": "Оставьте заявку"
                },
                "form": {
                    "description": "Оставьте свой номер и мы вам перезвоним",
                    "control_text": "Позвоните мне",
                    "is_display_shadow": false,
                    "brand_icon": "url/text",
                    "is_display_brand_icon": false,
                    "is_display_countdown": false,
                    "countdown": 60,
                    "effect_id": 1731
                },
                "background": {
                    "color": {"r": 255, "g": 255, "b": 255, "a": 0.5},
                    "is_display": true
                }
            }
        }
        
### Save UI settings [GET /api/site/widget/callback/action.php?action=save_ui]

Сохраняем настройки оформления виджета

+ Request (application/json)

        {   
            "action": "save_ui",
            "site_id": 15,
            "widget": {
                "id": 999,
                "color": {"r": 255, "g": 255, "b": 255, "a": 1},
                "button": {
                    "position_bottom": 80,
                    "position_right": 100,
                    "text": "Оставьте заявку"
                },
                "form": {
                    "description": "Оставьте свой номер и мы вам перезвоним",
                    "control_text": "Позвоните мне",
                    "is_display_shadow": false,
                    "brand_icon": "url/text",
                    "is_display_brand_icon": false,
                    "is_display_countdown": false,
                    "countdown": 60,
                    "effect_id": 1731
                },
                "background": {
                    "color": {"r": 255, "g": 255, "b": 255, "a": 0.5},
                    "is_display": true
                }
            }
        }
+ Response 200 (application/json)

        {   
            "error": null,
            "widget": {
                "id": 999,
                "color": {"r": 255, "g": 255, "b": 255, "a": 1},
                "button": {
                    "position_bottom": 80,
                    "position_right": 100,
                    "text": "Оставьте заявку"
                },
                "form": {
                    "description": "Оставьте свой номер и мы вам перезвоним",
                    "control_text": "Позвоните мне",
                    "is_display_shadow": false,
                    "brand_icon": "url/text",
                    "is_display_brand_icon": false,
                    "is_display_countdown": false,
                    "countdown": 60,
                    "effect_id": 1731
                },
                "background": {
                    "color": {"r": 255, "g": 255, "b": 255, "a": 0.5},
                    "is_display": true
                }
            }
        }

        
### Get settings [GET /api/site/widget/callback/action.php?action=get_settings]

Получаем настройки показа виджета

+ Request (application/json)

        {
            "action": "get_settings",
            "site_id": 15
        }

+ Response 200 (application/json)

        {
            "error": null,
            "widget":{
                "id": 999,
                "is_display": true,
                "weekdays": [
                    {"id": 1, "name": "Понедельник", "is_active": true, "interval": {"from": "09:00", "to": "18:00"}},
                    {"id": 2, "name": "Вторник", "is_active": true, "interval": {"from": "09:00", "to": "18:00"}},
                    {"id": 3, "name": "Среда", "is_active": true, "interval": {"from": "09:00", "to": "18:00"}},
                    {"id": 4, "name": "Четверг", "is_active": true, "interval": {"from": "09:00", "to": "18:00"}},
                    {"id": 5, "name": "Пятница", "is_active": true, "interval": {"from": "09:00", "to": "18:00"}},
                    {"id": 6, "name": "Суббота", "is_active": false, "interval": {"from": "09:00", "to": "18:00"}},
                    {"id": 7, "name": "Воскресенье", "is_active": false, "interval": {"from": "09:00", "to": "18:00"}}
                ],
                "is_use_closing": true,
                "is_use_once": true,
                "is_use_timeout": true,
                "redirect_script_id": 9999,
                "timeout": 60,
                "is_use_spamfilter": true
                }
        }

### Save settings [GET /api/site/widget/callback/action.php?action=save_settings]

Сохраняем настройки показа виджета

+ Request (application/json)

        {
            "action": "save_settings",
            "site_id": 15,
            "widget":{
                "id": 999,
                "is_display": true,
                "weekdays": [
                    {"id": 1, "name": "Понедельник", "is_active": true, "interval": {"from": "09:00", "to": "18:00"}},
                    {"id": 2, "name": "Вторник", "is_active": true, "interval": {"from": "09:00", "to": "18:00"}},
                    {"id": 3, "name": "Среда", "is_active": true, "interval": {"from": "09:00", "to": "18:00"}},
                    {"id": 4, "name": "Четверг", "is_active": true, "interval": {"from": "09:00", "to": "18:00"}},
                    {"id": 5, "name": "Пятница", "is_active": true, "interval": {"from": "09:00", "to": "18:00"}},
                    {"id": 6, "name": "Суббота", "is_active": false, "interval": {"from": "09:00", "to": "18:00"}},
                    {"id": 7, "name": "Воскресенье", "is_active": false, "interval": {"from": "09:00", "to": "18:00"}}
                ],
                "is_use_closing": true,
                "is_use_once": true,
                "is_use_timeout": true,
                "redirect_script_id": 9999,
                "timeout": 60,
                "is_use_spamfilter": true
                }
        }

+ Response 200 (application/json)

        {   
            "error": null,
            "widget":{
                "id": 999,
                "is_display": true,
                "weekdays": [
                    {"id": 1, "name": "Понедельник", "is_active": true, "interval": {"from": "09:00", "to": "18:00"}},
                    {"id": 2, "name": "Вторник", "is_active": true, "interval": {"from": "09:00", "to": "18:00"}},
                    {"id": 3, "name": "Среда", "is_active": true, "interval": {"from": "09:00", "to": "18:00"}},
                    {"id": 4, "name": "Четверг", "is_active": true, "interval": {"from": "09:00", "to": "18:00"}},
                    {"id": 5, "name": "Пятница", "is_active": true, "interval": {"from": "09:00", "to": "18:00"}},
                    {"id": 6, "name": "Суббота", "is_active": false, "interval": {"from": "09:00", "to": "18:00"}},
                    {"id": 7, "name": "Воскресенье", "is_active": false, "interval": {"from": "09:00", "to": "18:00"}}
                ],
                "is_use_closing": true,
                "is_use_once": true,
                "is_use_timeout": true,
                "redirect_script_id": 9999,
                "timeout": 60,
                "is_use_spamfilter": true
                }
        }
        
### Call callback [GET /api/external/integrations/mtt/callback/action.php]

Вызываем этот скрипт когда пользователь вводит номер телефона и нажимает "Позвонить мне"

+ Request (application/json)

        {
            "action": "send",
            "aid": 123456,
            "sid": 98765432,
            "phone_int": 74951234567,
            "callback": "CallbackRegistry.f026698512794595564"
        }
        
+ Response 200 (text/javascript)

        {
            "error": null
        }
        
## amoCRM [/api/amocrm/action.php]

### Get settings  [GET /api/amocrm/action.php?action=get]

Получаем настройки интеграции с amoCRM

+ Request (application/json)

        {
            "action": "get",
            "site_id": 89
        }
        
+ Response 200 (text/javascript)

        {
            "error": null,
            "amocrm":{
                "id": 7,
                "start_date": "12.07.2016",
                "subdomain": "martinholland",
                "user_hash": "d9bbcef1196ccddeaf521f7457201f2d",
                "user_login": "martin.dvigus@gmail.com",
                "is_send_calls": false,
                "is_send_leads": false,
                "is_send_cbs": false
            }
        }
        
### Save settings  [GET /api/amocrm/action.php?action=save]

Сохраняем настройки интеграции с amoCRM

+ Request (application/json)

        {
            "action": "save",
            "site_id": 89,
            "subdomain": "martinholland",
            "user_hash": "d9bbcef1196ccddeaf521f7457201f2d",
            "user_login": "martin.dvigus@gmail.com",
            "is_send_calls": false,
            "is_send_leads": false,
            "is_send_cbs": false
        }
        
+ Response 200 (text/javascript)

        {
            "error": null,
            "amocrm":{
                "id": 7,
                "start_date": "12.07.2016",
                "subdomain": "martinholland",
                "user_hash": "d9bbcef1196ccddeaf521f7457201f2d",
                "user_login": "martin.dvigus@gmail.com",
                "is_send_calls": false,
                "is_send_leads": false,
                "is_send_cbs": false
            }
        }
        
## Payment [/api/amo/tariff/action.php]

### Get tariff info [GET /api/amo/tariff/action.php?action=get_by_site]

Получаем информацию по тарифу для сайта

+ Request (application/json)

        {
            "action": "get_by_site",
            "site_id": 315
        }
        
+ Response 200 (text/javascript)

        {
            "error": null,
            "plan": null,
            "tariff":{
                "license":{
                    "base":{
                        "month_cost": 1000
                    },
                    "phones":{
                        "cost": 0,
                        "count": 1,
                        "month_cost": 0
                    },
                    "monthcost": 1000
                },
                "communication_services":{
                    "free_minutes":{
                        "cost_per_over_limit": 3,
                        "limit": 1000,
                        "over_limit": 1001
                    },
                    "phone_495":{
                        "cost": 500,
                        "count": 0,
                        "month_cost": 0
                    },
                    "phone_499":{
                        "cost": 400,
                        "count": 1,
                        "month_cost": 400
                    },
                    "phone_800":{
                        "cost": 1400,
                        "count": 0,
                        "month_cost": 0
                    },
                    "month_cost": 400
                },
                "extra_services":{
                    "deal_procesing":{
                        "cost": 6000,
                        "state": false,
                        "month_cost": 0
                    },
                    "callback":{
                        "fix_russia": 1.99,
                        "mobile_russia": 2.99,
                        "fix_msk_spb": 1.15
                    },
                    "month_cost": 0
                },
                "month_cost": 1400
            }
        }
        
## Notifications [/api/user/notifications/action.php]

### Get notifications config [GET /api/user/notifications/action.php?action=get]

Получаем конфигурацию уведомлений для всех сайтов

+ Request (application/json)

        {
            "action": "get"
        }
        
+ Response 200 (text/javascript)

        {
            "error": null,
            "sites":[
                {
                "id": 16,
                "name": "www.dommill.ru",
                "description": "Квартал Миллениум",
                "owner_id": 155,
                "notifications":[
                    {
                    "id": 15,
                    "channel_id": 971,
                    "type_id": 982
                    }
                ]
                }   
            ]
        }
        
### Add notification [GET /api/user/notifications/action.php?action=add]

Добавляем уведомление

+ Request (application/json)

        {
            "action": "add",
            "site_id": 16,
            "notification": {
                "channel_id": 972,
                "type_id": 981
            }
        }
        
+ Response 200 (text/javascript)

        {
            "error": null,
            "notification": {
                "id": 16,
                "channel_id": 972,
                "type_id": 981
            }
        }
        
### Remove notification [GET /api/user/notifications/action.php?action=remove]

Удаляем уведомление

+ Request (application/json)

        {
            "action": "remove",
             "notification_id": 16
        }
        
+ Response 200 (text/javascript)

        {
            "error": null
        }